<%= link_to "Artists", artists_path %>
<h1>Songs:</h1>
<br>
<ul>
    <% @songs.each do |song| %>
        <li><%= link_to "#{song.artist.name} - #{song.title}", song_path(song) %></li>
    <% end %>
</ul>