<h1>Songs' Index Page</h1><br>


<ul>
  <% @songs.each do |song| %>
    <li>

   <a href="<%= song_path(song)%>">
          Song Title:
          <%= song.artist_name %>
          -
          Artist Name:
          <%= song.title %>
      </a>
    </li>
  <% end %>
</ul>